# SPDX-FileCopyrightText: 2019 Harish Rajagopal <harish.rajagopals@gmail.com>
#
# SPDX-License-Identifier: MIT

[submodule "bundle/vim-instant-markdown"]
	path = config/.vim/pack/no_ssh/start/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown
