[submodule "bundle/ale"]
	path = config/.vim/pack/vim8/start/ale
	url = https://github.com/w0rp/ale
[submodule "bundle/indentline"]
	path = config/.vim/pack/standard/start/indentline
	url = https://github.com/yggdroot/indentline
[submodule "bundle/nerdtree"]
	path = config/.vim/pack/standard/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/rename.vim"]
	path = config/.vim/pack/standard/start/rename.vim
	url = https://github.com/danro/rename.vim
[submodule "bundle/tabular"]
	path = config/.vim/pack/standard/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/undotree"]
	path = config/.vim/pack/standard/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "bundle/vim-better-whitespace"]
	path = config/.vim/pack/standard/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "bundle/vim-buftabline"]
	path = config/.vim/pack/standard/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "bundle/vimcaps"]
	path = config/.vim/pack/no_ssh/start/vimcaps
	url = https://github.com/suxpert/vimcaps
[submodule "bundle/vim-fugitive"]
	path = config/.vim/pack/standard/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-instant-markdown"]
	path = config/.vim/pack/no_ssh/start/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown
[submodule "bundle/vim-latex-live-preview"]
	path = config/.vim/pack/no_ssh/start/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview
[submodule "bundle/vim-togglecursor"]
	path = config/.vim/pack/standard/start/vim-togglecursor
	url = https://github.com/jszakmeister/vim-togglecursor
[submodule "bundle/vim-visual-increment"]
	path = config/.vim/pack/standard/start/vim-visual-increment
	url = https://github.com/triglav/vim-visual-increment
[submodule "bundle/auto-pairs"]
	path = config/.vim/pack/standard/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "bundle/accelerated-smooth-scroll"]
	path = config/.vim/pack/standard/start/accelerated-smooth-scroll
	url = https://github.com/yonchu/accelerated-smooth-scroll
[submodule "config/.vim/pack/bundle/start/vim-surround"]
	path = config/.vim/pack/standard/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "config/.vim/pack/bundle/start/supertab"]
	path = config/.vim/pack/standard/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "config/.vim/pack/bundle/start/nerdcommenter"]
	path = config/.vim/pack/standard/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "config/.vim/pack/standard/start/vim-solarized8"]
	path = config/.vim/pack/vim8/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "config/.vim/pack/no_ssh/start/nnn.vim"]
	path = config/.vim/pack/no_ssh/start/nnn.vim
	url = https://github.com/mcchrish/nnn.vim.git
